@font-face {
  font-family: Inter-Regular;
  src: url(/static/fonts/Inter-Regular.ttf);
}

body {
  font-family: Inter-Regular;
}
/* 
fs-6 {
  font-size: 0.9rem !important;
} */

.max-2 {
  max-height: 3em; 
  display:block; 
  overflow: hidden;
}

.bg-white {
  border: 1px solid #e7e7e9;
  font-size: 15px;
  border-radius: 20px;
}

.myvideo img {
  border-radius: 20px;
}

.dot {
  font-weight: bold;
}

.form-control {
  border-radius: 12px;
  border: 1px solid #f0f0f0;
  font-size: 15px;
}

.form-control:focus {
  box-shadow: none;
}

.form-control::placeholder {
  font-size: 15px;
  color: #c4c4c4;
}

.center-cropped-list {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /*Center the image within the element */
  height: 17rem;
  width: 17.3rem;
  border-radius: 15px;
  border: 2px solid #ffffff00;
  padding: 2px;
} 

.center-cropped {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /*Center the image within the element */
  height: 12rem;
  width: 20rem;
  /* border-radius: 15px; */
  /* border: 2px solid #ffffff00; */
  padding: 2px;
}

.right {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 0;
}

.btn-primary {
  --bs-btn-bg: #74c27c;
  --bs-btn-color: white;
  --bs-btn-border-color: #74c27c;
  --bs-btn-hover-border-color: #74c27c;
  --bs-btn-hover-bg: #95c69a;
  --bs-btn-active-bg: #55a95e;
  --bs-btn-active-color: white;
  --bs-btn-active-border-color: white;
}

.btn-outline-primary {
  --bs-btn-border-color: #64A95D;
  --bs-btn-hover-border-color: #5ac464;
  --bs-btn-color: #64A95D;
  --bs-btn-hover-bg: #64A95D;
  --bs-btn-disabled-bg: #91b294;
  --bs-btn-disabled-border-color: #a6cdaa;
  --bs-btn-disabled-color: #ffffff;
  --bs-btn-active-bg: #4dbc41;
  --bs-btn-active-border-color: #5ac464;

}

.btn-secondary {
  --bs-btn-bg: #95c69a;
  --bs-btn-color: white;
  --bs-btn-border-color: #95c69a;
  --bs-btn-hover-border-color: #95c69a;
  --bs-btn-active-bg: #74c27c;
  --bs-btn-active-color: white;
  --bs-btn-hover-bg: #a6cdaa;
  --bs-btn-active-border-color: white;
}


.dropdown-menu {
  --bs-dropdown-link-active-bg: #74c27c;
}

.accordion {
  --bs-accordion-active-bg: #add4b1;
  --bs-accordion-btn-focus-border-color: #74c27c;
  --bs-acccordion-border-color: #74c27c;
  --bs-accordion-active-color: #000000;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #000000;
  background-color: #C6EBB7;
}
.nav {
  --bs-nav-link-hover-color: #525252;
}

.team-card {
  margin: 15px;
}

.accordion-item {
  margin: 10px;
}

.team-body {
  position: relative;
  min-height: 13rem;
}

.team-buttons {
  position: absolute;
  bottom: 0;
  left: 0;
}


.form-check-input:checked {
  background-color: #74c27c;
  border-color: #74c27c;
}

.form-check-input {
  border-color: #74c27c;
  border-width: 2px;
}

::-webkit-input-placeholder {
  color: #0000008c !important;
}

.nav-link {
  color: black;
  font-size: 0.95rem;
}

.green-input {
  background-color: #d0edd3;
}

.chart {
  background-color: #f7f7f7;
  /* border-color: #95c69a;
  border-radius: 10px;
  border-style: solid;
  border-width: 1rem; */
  padding: 10px;
}

.nav-link {
    margin: 10px;
}

@media only screen and (max-width: 991px) {
  footer {
    visibility: hidden;
    height:0;
  }
  content {
    height:100%;
  }
  .show-md {
    display: none;
  }
}

@media only screen and (min-width: 991px) {
  .show-md {
    display: none;
  }
  content {
    height: 90vh;
  }
  footer {
    visibility: visible;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media only screen and (max-width: 992px) {
  
  .dropdown-item {
    margin: 10px;
  }
  .form-control {
    padding: 10px;
  }
}
/* 
[data-bs-theme=dark] {
    .body {
      background-color: #343a40;
    }
} */